<!DOCTYPE html>
<html>
  <body>
    <h1 style="text-align: center;">Hello <%= @loan_user.name %>,</h1>
    <p style="text-align: center;">Please find attached your loan term sheet <%= link_to 'here', attachments['loan_calculator.pdf'].url %>.</p>
  </body>
</html>
