<div>
  <p>Thanks for providing those details!</p>
  <p>Check your email for a sample term sheet with additional loan information.</p>
  <p>We are looking forward to working with you on this loan!</p>
</div>
<%= @message %>